<div class="input-group mb-3 mr-5">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><%= fieldName %></span>
  </div>
  <input type="text" class="form-control" id="<%= name%>" name="<%= name%>" value="<%= value? value : ''%>" <%= readonly? 'readonly' : ''%>/>
</div>