<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    <%= typeof pageTitle !=='undefined' ? pageTitle : '' %>
  </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Bootstrap 5.2.3 -->
  <link rel="stylesheet" href="/asset/css/bootstrap5/bootstrap.min.css" />

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/asset/vendor/fontawesome6/css/all.min.css" />

  <!-- Bootstrap Icon -->
  <link rel="stylesheet" href="/asset/css/bootstrap5/bootstrap-icons.min.css" />

  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

  <!-- Datatables -->
  <link rel="stylesheet" type="text/css" href="/asset/css/datatable/datatables.min.css" />

  <!-- Select2 -->
  <link rel="stylesheet" type="text/css" href="/asset/css/select2/select2.min.css" />

  <!-- Error style -->
  <link rel="stylesheet" type="text/css" href="/asset/css/error/error.css" />

  <!-- Dashboard CSS -->
  <link rel="stylesheet" type="text/css" href="/asset/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/asset/vendor/quill/quill.snow.css" />
  <link rel="stylesheet" type="text/css" href="/asset/vendor/quill/quill.bubble.css" />
  <link rel="stylesheet" type="text/css" href="/asset/vendor/remixicon/remixicon.css" />
  <link rel="stylesheet" type="text/css" href="/asset/vendor/simple-datatables/style.css" />
  <!-- Template Main CSS File -->
  <link href="/asset/css/layout/style.css" rel="stylesheet" />
  <!-- Footer style -->
  <link rel="stylesheet" type="text/css" href="/asset/css/layout/footer.css" />
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <%- include('./header') %> <%- include('./sidebar') %>
        <section class="body">
          <div class="content">
            <%- body %>
          </div>
        </section>

        <%- include('./footer') %>
          <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
              class="bi bi-arrow-up-short"></i></a>
  </div>

  <%- include('./scripts') %>
    <!-- Template Main JS File -->
    <script src="/asset/js/site/main.js"></script>
    <%- script %>
</body>

</html>